body{
	padding: 0;
	font-size: 16px;
	font-family: sans-serif;
}
i{
	font-style:normal;

}
header{
	width: 100%;
	height:0.88rem;
	background:#FCFCFC;
	padding-left: 0.175rem;
	padding-right: 0.23rem;
	position: relative;
}
header .show-return{
	display: inline-block;
}
header span{
	display: inline-block;
	position: absolute;
	top:0;
	left:0;
	right:0;
	margin: auto;
	text-align:center;
	line-height: 0.88rem;
	font-size: 18px;
	color:#000;
}
header .show-return img{
	width: 0.24rem;
	height:0.44rem;
	margin-top: 0.22rem;
	font-weight: 600;
}

header .show-navs{
	float: right;
	display: inline-block;
}
header .show-navs img{
	margin-top: 0.4rem;
	width: 0.44rem;
}

/*photo-list*/
.show-lis{
	width: 100%;
	margin-bottom: 0.88rem;
}
.show-lis .show-lisa{
	display: block;
	height: 3.6rem;
	background: url('../image/pho1.png') no-repeat center center/ 100%;
}
.show-lis .n2{
	background: url('../image/pho2.png') no-repeat center center/ 100%;
}
.show-lis .n3{
	background: url('../image/pho3.png') no-repeat center center/ 100%;
}
.show-lis .n4{
	background: url('../image/pho4.png') no-repeat center center/ 100%;
}
.show-lisa span{
	font-size: 24px;
	color:#fff;
	display: block;
	text-align: center;
	line-height: 3.6rem;
}


/*底部*/
footer{
	position: fixed;
	bottom:0;
	width: 100%;
	height: 0.88rem;
	z-index: 9999;
	background: #fff;
}
.show-bottom{
	width: 100%;
	height: auto;
	text-align: justify;
	padding: 0 1.2rem;
	line-height: 1.1rem;
}
.show-bottom a{
	box-sizing:border-box;
	display: inline-block;
	
}
.show-bottom:after{
	content: '';
    display: inline-block;
    width: 100%;
}
.show-bottom a img{
	width: 0.5rem;
	height: 0.45rem;
	
}